{% extends "layout.html" %}
{% block body %}

                {% if error %}
                <!-- error start //エラー時のみ表示 -->
				<div class="error-box">
					<h2>错误</h2>
					<p>{{error}}</p>
				</div>
				<!-- error end -->
                {% endif %}

                <form action="/adminInboxEdit" method="post">

                  <input type="hidden" name="id" value="{{inbox['id']}}">

                  <div>
                      <p>名称</p><input type="text" name="name"
                                         {%if inbox%} value="{{inbox['name']}}" {%else%} value="" {%endif%}>
                      <hr>
                      <p>备注</p><input type="text" name="memo"
                                        {%if inbox%} value="{{inbox['memo']}}" {%else%} value="" {%endif%}>
                      <hr>
                      <p>长（cm）</p><input type="text" name="length"
                                        {%if inbox%} value="{{inbox['length']}}" {%else%} value="" {%endif%}>
                      <hr>
                      <p>宽（cm）</p><input type="text" name="width"
                                         {%if inbox%} value="{{inbox['width']}}" {%else%} value="" {%endif%}>
                      <hr>
                      <p>高（cm）</p><input type="text" name="height"
                                         {%if inbox%} value="{{inbox['height']}}" {%else%} value="" {%endif%}>
                      <hr>
                      <p>重量（g）</p><input type="text" name="weight"
                                        {%if inbox%} value="{{inbox['weight']}}" {%else%} value="" {%endif%}>
                      <hr>
                      <p>状态</p>
                      <select name="status" style="text-align: center">
                        <option value=0 {% if inbox.status == 0 %} selected="selected" {% endif %}>未处理</option>
                        <option value=1 {% if inbox.status == 1 %} selected="selected" {% endif %}>处理中</option>
                        <option value=2 {% if inbox.status == 2 %} selected="selected" {% endif %}>处理完成</option>
                        </select>
                      <hr>
                      <p>顾客</p>
                      <select name="customer_id">
                          {% for key,record in customers.items() %}
                          <option value="{{record.id}}" {% if record.id == inbox.customer_id %} selected="selected" {% endif %}>{{record.name}}</option>
                          {% endfor %}
                      </select>
                      <hr>
                      <p>担当者</p>
                      <select name="staff_id">
                          {% for key,record in staffs.items() %}
                          <option value="{{record.id}}" {% if record.id == inbox.staff_id %} selected="selected" {% endif %}>{{record.name}}</option>
                          {% endfor %}
                      </select>
                      <hr>


                      <p><input type="submit" name="submit" value="追加"></p>
                      <p><input type=button value="返回" onclick="location.href='/adminInbox';" ></p>
                  </div>

              </form>


{% endblock %}