{% extends "layout.html" %}
{% block body %}

                {% if error %}
                <!-- error start //エラー時のみ表示 -->
				<div class="error-box">
					<h2>错误</h2>
					<p>{{error}}</p>
				</div>
				<!-- error end -->
                {% endif %}

                <form action="/adminOutboxAdd" method="post">

                  <div>
                      <p>名称</p><input type="text" name="name" value="">
                      <hr>
                      <p>备注</p><input type="text" name="memo"
                                        value="">
                      <hr>
                      <p>长（cm）</p><input type="text" name="length"
                                        value="">
                      <hr>
                      <p>宽（cm）</p><input type="text" name="width"
                                         value="">
                      <hr>
                      <p>高（cm）</p><input type="text" name="height"
                                         value="">
                      <hr>
                      <p>重量（kg）</p><input type="text" name="weight"
                                       value="">
                      <hr>
                      <p>状态</p>
                      <select name="status" style="text-align: center">
                        <option value=0 selected="selected">未处理</option>
                        <option value=1>处理中</option>
                        <option value=2>处理完成</option>
                        </select>
                      <hr>
                      <p>顾客</p>
                      <select name="customer_id">
                          <option value="">请选择顾客</option>
                          {% for key,record in customers.items() %}
                          <option value="{{record.id}}">{{record.name}}</option>
                          {% endfor %}
                      </select>
                      <hr>
                      <p>担当者</p>
                      <select name="staff_id">
                          <option value="">请选择担当者</option>
                          {% for key,record in staffs.items() %}
                          <option value="{{record.id}}">{{record.name}}</option>
                          {% endfor %}
                      </select>
                      <hr>


                      <p><input type="submit" name="submit" value="追加"></p>
                      <p><input type=button value="返回" onclick="location.href='/adminOutbox';" ></p>
                  </div>

              </form>


{% endblock %}