{% extends "layout.html" %}
{% block body %}
<h2> 主页 </h2>
<!--<p><a class="btn" style="width:200px" href="adminCustomer" role="button">&nbsp;顾客信息一览&nbsp;&nbsp;</a>-->
<p><a class="btn" style="width:200px" href="adminStaff" role="button">职员信息一览</a>
<p><a class="btn" style="width:200px" href="adminInbox" role="button">入库箱信息一览</a>
<p><a class="btn" style="width:200px" href="adminOutbox" role="button">出库箱信息一览</a>
<!--<p><a class="btn" style="width:200px" href="" role="button">商品信息一览</a>-->
{% endblock %}
