{% extends "layout.html" %}
{% block body %}



        <p><a class="btn btn-lg btn-success" href="/customerAdd" role="button">客户追加</a></p>
        <table class="split total" style="word-break:break-all;">
                <tr>
                    <th>客户显示名</th>
                    <th>客户真名</th>
                    <th>客户电话1</th>
                    <th>电子邮件</th>
                    <th>客户地址</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>

                {%for key,record in customersData.items() %}
                <tr>
                    <td>{{record['name']}}</td>
                    <td>{{record['real_name']}}</td>
                    <td>{{record['telephone1']}}</td>
                    <td>{{record['email']}}</td>
                    <td>{{record['address']}}</td>
                    <td><input type=button value="编辑" onclick=location.href="/customerEdit?id={{record['id']}}"; ></td>
                    <td><input type=button value="删除" onclick=location.href="/customerDelete?id={{record['id']}}"; ></td>
                </tr>
                {%endfor%}

        </table>

{% endblock %}
