{% extends "layout.html" %}
{% block body %}

<form class="form-signin" method="post">
    <input type="text" name="name" class="form-control" value="{{data['name']}}" placeholder="包裹名称" required autofocus>
    <input type="text" name="memo" class="form-control" value="{{data['memo']}}" placeholder="包裹备注" >
    <input type="number" name="length" class="form-control" value="{{data['length']}}" placeholder="长（cm）" required autofocus>
    <input type="number" name="width" class="form-control" value="{{data['width']}}" placeholder="宽（cm）" required autofocus>
    <input type="number" name="height" class="form-control" value="{{data['height']}}" placeholder="高（cm）" required autofocus>
    <input type="number" name="weight" class="form-control" value="{{data['weight']}}" placeholder="重量（g）" required autofocus>
    <button type="button" name="cancel" onclick="window.location=('inboxIndex')" class="btn">取消</button>
    <button type="submit" name="add" class="btn">编辑</button>
</form>

{% endblock %}
