{% extends "layout.html" %}
{% block body %}
<h2>顾客选择</h2>
<p><a class="btn" href="/customerAdd" role="button">顾客追加</a>
<table class="split total">
        <tr>
            <th>顾客显示名</th>
            <th>顾客真是姓名</th>
            <th>选择</th>
        </tr>
    {%for key,record in data.items()%}
        <tr>
            <td>{{record['name']}}</td>
            <td>{{record['real_name']}}</td>
            <td><button onclick="window.location=('inboxIndex?id={{record.id}}')">选择</button></td>
        </tr>
    {%endfor%}
    </table>


{% endblock %}