{% extends "layout.html" %}
{% block body %}

                {% if error %}
                <!-- error start //エラー時のみ表示 -->
				<div class="error-box">
					<h2>错误</h2>
					<p>{{error}}</p>
				</div>
				<!-- error end -->
                {% endif %}

              {%if inbox%}
                <form action="/inboxEdit" method="post">
                {%else%}
                <form action="/inboxAdd" method="post">
                    {%endif%}

                    <input type="hidden" name="customer_id" value="{{customerId}}">

                  {%if inbox%}
                  <input type="hidden" name="id" value="{{inbox['id']}}">
                  {%endif%}

                  <div>
                      <p>名称</p><input type="text" name="name"
                                         {%if inbox%} value="{{inbox['name']}}" {%else%} value="" {%endif%}>
                      <hr>
                      <p>备注</p><input type="text" name="memo"
                                        {%if inbox%} value="{{inbox['memo']}}" {%else%} value="" {%endif%}>
                      <hr>
                      <p>长（cm）</p><input type="text" name="length"
                                        {%if inbox%} value="{{inbox['length']}}" {%else%} value="" {%endif%}>
                      <hr>
                      <p>宽（cm）</p><input type="text" name="width"
                                         {%if inbox%} value="{{inbox['width']}}" {%else%} value="" {%endif%}>
                      <hr>
                      <p>高（cm）</p><input type="text" name="height"
                                         {%if inbox%} value="{{inbox['height']}}" {%else%} value="" {%endif%}>
                      <hr>
                      <p>重量（g）</p><input type="text" name="weight"
                                        {%if inbox%} value="{{inbox['weight']}}" {%else%} value="" {%endif%}>
                      <hr>

                      <p><input type="submit" name="submit" value="追加"></p>
                      <p><input type=button value="返回" onclick="location.href='/inboxIndex?id={{customerId}}';" ></p>
                  </div>

              </form>


{% endblock %}