
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>群航物流有限公司</title>


      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='jumbotron-narrow.css') }}"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}"/>



  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="main">主页</a>
            </li>
            <li role="presentation"  class="active"><a href="showLogin">登录</a>
            <!--</li>
            <li role="presentation"><a href="logout">登出</a>
            </li>-->
          </ul>
        </nav>
        <h3 class="text-muted">登录</h3>
      </div>

      <div class="jumbotron">
        <h2>仓库转运管理系统</h2>
        <form class="form-signin" method="post">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="submit" value="登录" class="btn btn-lg btn-primary btn-block">
        </form>
      </div>


      <footer class="footer">
        <p>&copy; 群航物流有限公司</p>
      </footer>

    </div>
  </body>
</html>
<script src="../static/js/jquery-2.2.3.min.js"></script>
<script>
	$(function() {
    $('#btnSignUp').click(function() {

        $.ajax({
            url: '/signUp',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
</script>
