{% extends "layout.html" %}
{% block body %}
<h2>顾客信息</h2>
<div class="simple" >
<li>顾客名: {{customer['name']}}</li>
<li>电话:{{customer['telephone1']}}</li>
<li>住址:{{customer['address']}}</li>
<li>邮件:{{customer['email']}}</li>
</div>
<table class="split total">
        <tr>
            <th>入库时间</th>
            <th>名称</th>
            <th>备注</th>
            <th>长（cm）*宽（cm）*高（cm）</th>
            <th>重量（g）</th>
            <th>状态</th>
            <th>选择</th>
        </tr>
    {%for key,record in inboxData.items()%}
        <tr>
            <td>{{record['import_time']}}</td>
            <td>{{record['name']}}</td>
            <td>{{record['memo']}}</td>
            <td>{{record['length']}}*{{record['width']}}*{{record['height']}}</td>
            <td>{{record['weight']}}</td>

            {% if record['status'] == 0 %}
                <td>未处理</td>
            {% elif record['status'] == 1 %}
                <td>处理中</td>
            {% elif record['status'] == 2 %}
                <td>处理完成</td>
            {% else %}
                <td>处理错误</td>
            {% endif %}

            <td class="demo"><a class="btnt" onclick="window.location=('outboxInboxSelectConfirm?id={{record.id}}&customer_id={{customer.id}}')">选择</a></td>
        </tr>
    {%endfor%}
    </table>


{% endblock %}


