{% extends "layout.html" %}
{% block body %}

                {% if error %}
                <!-- error start //エラー時のみ表示 -->
				<div class="error-box">
					<h2>错误</h2>
					<p>{{error}}</p>
				</div>
				<!-- error end -->
                {% endif %}


                <form action="/itemAdd" method="post">


                    <div>
                        <p>商品码</p><input type="text" name="jan_code" value="" {%endif%}>
                        <hr>
                        <p>商品名（日文）</p><input type="text" name="jp_name"  value="" {%endif%}>
                        <hr>
                        <p>商品名（英文）</p><input type="text" name="en_name" value="" {%endif%}>
                        <hr>
                        <p>商品名（中文）</p><input type="text" name="cn_name" {%if item.cn_name%} value="{{item.cn_name}}"{%else%} value="" {%endif%}>
                        <hr>
                        <p>单价</p><input type="text" name="unit_price" {%if item.unit_price%} value="{{item.unit_price}}"{%else%} value="" {%endif%}>
                        <hr>
                        <p>数量</p><input type="number" name="number" value="1">
                        <hr>
                        <p>备注</p><input type="text" name="memo" {%if item.memo%} value="{{item.memo}}"{%else%} value="" {%endif%}>
                        <hr>
                        <p>产地</p><select name="country_of_origin">
                            {%for key,madeInInfo in madeInInfos.items()%}
                                <option value={{madeInInfo.id}}>{{madeInInfo.made_in_country}}</option>
                            {%endfor%}
                            </select>
                        <hr>
                        <br>
                        <br>
                        <p>来自</p><select name="inbox">
                            {%for key,inbox in inboxes.items()%}
                                <option value={{inbox.id}}>{{inbox.name}}</option>
                            {%endfor%}
                            </select>
                        <hr>
                        <p>出箱</p><select name="outbox">
                            {%for key,outbox in outboxes.items()%}
                                <option value={{outbox.id}}>{{outbox.name}}</option>
                            {%endfor%}
                            </select>
                        <hr>

                        <p><input type="submit" name="submit" value="追加"></p>
                    </div>

              </form>


{% endblock %}